doctype html
html
  head
    script(src='bower_components/angular/angular.js', type='text/javascript')
    script(src='bower_components/sopro-material/js/angular-material.js', type='text/javascript')
    script(src='bower_components/angular-animate/angular-animate.js', type='text/javascript')
    script(src='test.js', type='text/javascript')
    link(href='bower_components/sopro-material/css/angular-material.css', rel='stylesheet')
    link(href='bower_components/sopro-material/css/sopro-material.css', rel='stylesheet')
  body(ng-app="pagerTest" ng-controller="pagerTestCtrl")
    ng-include(src="'sopro-pager.html'")